@media (max-width: 425px) {
	.navbar-brand {
		margin: 0 auto;
	    width: 70%;
	}
	.navbar-toggle {
		float: left !important;
		border-color: transparent !important;
	}
	.icon-bar {
		background-color: rgba(0, 0, 0, 0.3) !important;
	}
}
@media (max-width: 768px) {
	.card2 {
		display: none;
	}
}